---
- name: Install systemd service file (vm@.service)
  template:
    dest: /etc/systemd/system/vm@.service
    group: root
    owner: root
    mode: 0644
    src: vm@.service.j2
  notify: Reload systemd daemon

- name: Install systemd service file (vm_iscsi@.service)
  template:
    dest: /etc/systemd/system/vm_iscsi@.service
    group: root
    owner: root
    mode: 0644
    src: vm_iscsi@.service.j2
  notify: Reload systemd daemon
  when: xen_vman_iscsi_base_wwn is defined and xen_vman_iscsi_server is defined

- name: Create xen config path {{ xen_vman_vm_config_path }}
  file:
    path: "{{ xen_vman_vm_config_path }}"
    state: directory
    group: root
    owner: root
    mode: 0755

- name: Create listing folder for all vms requiring iSCSI (needed for selective vm_iscsi@.service starts)
  file:
    path: "{{ xen_vman_vm_config_path }}/.iscsi/"
    state: directory
    group: root
    owner: root
    mode: 0755
  when: xen_vman_iscsi_base_wwn is defined and xen_vman_iscsi_server is defined

- name: Install mount helper script
  template:
    dest: /etc/xen/scripts/mount_vm.sh
    group: root
    owner: root
    mode: 0750
    src: mount_vm.sh.j2

- name: Install systemd service file (vm_mount@.service)
  template:
    dest: /etc/systemd/system/vm_mount@.service
    group: root
    owner: root
    mode: 0644
    src: vm_mount@.service.j2
  notify: Reload systemd daemon
