# {{ ansible_managed }}

source-directory /etc/network/interfaces.d

auto eth0
iface eth0 inet {% if vm.storage_type|default(xen_vman_default_storage_type) == "iscsi" %}static{% else %}manual{% endif %}

	address {{ vm.connection_ip|default(vm['interfaces'][0]['ip'])|ansible.utils.ipaddr('address') }}
	netmask {{ vm.connection_ip|default(vm['interfaces'][0]['ip'])|ansible.utils.ipaddr('netmask') }}
{% if vm.connection_ip|default(vm['interfaces'][0]['ip'])|ansible.utils.ipaddr('broadcast') != None %}
	broadcast {{ vm.connection_ip|default(vm['interfaces'][0]['ip'])|ansible.utils.ipaddr('broadcast') }}
{% endif %}
	dns-nameservers {{ vm.nameserver|default(xen_vman_default_nameserver)|join(' ') }}
{% if xen_vman_default_mtu is defined or vm['interfaces'][0]['mtu'] is defined %}
	mtu {{ vm['interfaces'][0]['mtu']|default(xen_vman_default_mtu) }}
{% endif %}
{% if vm.gateway|default(xen_vman_default_gateway) is defined %}
	{% if vm.storage_type|default(xen_vman_default_storage_type) == "iscsi" -%}
		gateway {{ vm.gateway|default(xen_vman_default_gateway) }}
	{% else -%}
		{# The default route is not configured for manual networks -#}
		post-up ip r a default via {{ vm.gateway|default(xen_vman_default_gateway) }}
	{% endif %}
{% endif %}
