{{ ansible_managed }}

This file indicates that {{ vm.host }}@{{ vm.org }} requires an iscsi device to be functional.
systemd will check for this file is a vm is started. See »/lib/systemd/system/vm_iscsi@.service« for future reference.
