################################################################################
# {{ ansible_managed }}
################################################################################
# {{ vm.name }} @{{ vm.org}}
# {{ vm.description | default('') }}
#-------------------------------------------------------------------------------
# initial OS:   {{ vm.os.type }} {{ vm.os.version }}
#
# ram:          {{ vm.memory|default(xen_vman_default_memory) }}
# vcpus:        {{ vm.vcpus|default(xen_vman_default_vcpus) }}
#
# created at:   {{ creation_date }}
# auto boot:    {{ vm.auto_boot|default(xen_vman_default_auto_boot) }}
# storage type: {{ vm.storage_type|default(xen_vman_default_storage_type) }}
################################################################################

name                    = "{{ vm.org }}-{{ vm.name }}"

memory                  = {{ vm.memory|default(xen_vman_default_memory) }}
vcpus                   = {{ vm.vcpus|default(xen_vman_default_vcpus) }}
cpus                    = "{{ vm.cpu_str|default(xen_vman_default_cpu_str) }}"

vif                     = [ {% for interface in vm.interfaces -%}
	{%- set ips = [ interface.ip | default(None), interface.ipv6 | default(None) ] | select('string') | map('ansible.netcommon.ipaddr', 'address') -%}
	'mac={{- interface.mac -}}
	{%- if ips != [] -%},ip={{- ips | join(' ') -}}{%- endif -%}
	{%- if interface.bridge | default(xen_vman_lazy_default_network_bridge) is defined -%},bridge={{- interface.bridge | default(xen_vman_lazy_default_network_bridge) -}}{%- endif -%}
	{%- if interface.vifname | default(xen_vman_default_vifname_prefix) is defined -%},vifname={{ interface.vifname | default(xen_vman_default_vifname_prefix + '.' + loop.index0 | string) }}{%- endif -%}
	{%- if interface.xen_str | default(xen_vman_default_xen_str) is defined -%},{{- interface.xen_str | default(xen_vman_default_xen_str) -}}{%- endif -%}'
	{%- if not loop.last -%}, {% endif -%}{# check for last network interface #}
{%- endfor %} ]

disk                    = [ {% if vm.storage_type|default(xen_vman_default_storage_type) == "iscsi" and not vm.manual_root_disk|default(xen_vman_default_manual_root_disk) -%}
                              '/dev/disk/by-path/ip-{{ xen_vman_iscsi_server }}-iscsi-{{ xen_vman_iscsi_base_wwn }}:{{ vm.org }}-{{ vm.name }}-lun-0,raw,xvda,rw'
                              {%- if vm.disks|default(xen_vman_default_disks)|length > 0 -%}, {% endif -%}
                            {%- endif -%}
                            {%- for disk in vm.disks|default(xen_vman_default_disks) -%}
                              '{{ disk }}'{%- if not loop.last -%}, {% endif -%}{# check for last disk #}
                            {%- endfor %} ]

{% if vm.builder|default(xen_vman_default_builder) != "hvm" -%}

ramdisk                 = "{{ vm.initrd|default(xen_vman_default_initrd) }}"
kernel                  = "{{ vm.kernel|default(xen_vman_default_kernel) }}"
{% if vm.storage_type|default(xen_vman_default_storage_type) == "nfs" and vm.cmdline is not defined and xen_vman_default_cmdline is not defined %}
cmdline                 = "root=/dev/nfs nfsroot=
                           {{- xen_vman_nfsroot_base }}{{ vm.org }}/{{ vm.name }}-root ip=
                           {%- if vm.connection_ip|default(vm['interfaces'][0]['ip']) is defined %}
                             {{- vm.connection_ip|default(vm['interfaces'][0]['ip'])|ipaddr('address') }}:::
                             {{- vm.connection_ip|default(vm['interfaces'][0]['ip'])|ipaddr('netmask') }}::eth0
                           {%- else %}::::::dhcp{% endif %}"
{% elif vm.storage_type|default(xen_vman_default_storage_type) == "iscsi" and vm.cmdline is not defined and xen_vman_default_cmdline is not defined %}
cmdline                 = "root=/dev/xvda rootfstype={{ vm.filesystem|default(xen_vman_default_filesystem) }} rw"
{% else %}
cmdline                 = "{{ vm.cmdline|default(xen_vman_default_cmdline) }}"
{% endif %}

{%- else -%}

builder                 = "hvm"
{{''}}
	{%- if vm.spice|default(xen_vman_default_spice) %}

# spice config see: http://xenbits.xen.org/docs/4.4-testing/man/xl.cfg.5.html#Spice-Graphics-Support
spice                   = 1
spicehost               = "{{ vm.spicehost|default(xen_vman_default_spicehost) }}"
spiceport               = "{{ vm.spiceport|default(xen_vman_default_spiceport) }}"
spicedisable_ticketing  = 0 {# login without password should be disabled in any case #}

spicepasswd             = "{{ vm.spicepasswd }}"
spiceagent_mouse        = {% if vm.mouse|default(xen_vman_default_mouse) %}1{% else %}0{% endif %}
{#- spicevdagent is needed for clipboard sharing #}

spicevdagent            = {% if vm.share_clipboard|default(xen_vman_default_share_clipboard) %}1{% else %}{% if vm.spicevdagent|default(xen_vman_default_spicevdagent) %}1{% else %}0{% endif %}{% endif %}

spice_clipboard_sharing = {% if vm.share_clipboard|default(xen_vman_default_share_clipboard) %}1{% else %}0{% endif %}

spiceusbredirection     = {{ vm.max_usb_redirections|default(xen_vman_default_max_usb_redirections) }}
	{%- else %}

spice                   = 0
	{%- endif -%}
{% endif %}
{% if additonal_xen_options|default(xen_vman_default_additional_xen_options) is defined %}


{% endif %}
{% for xen_option_key, xen_option_value in additonal_xen_options|default(xen_vman_default_additonal_xen_options) %}
{{ xen_option_key }} = {{ xen_option_value }}
{% endfor %}
