# {{ ansible_managed }}
[Unit]
Description             = Xen VM for %i
Documentation           = https://github.com/stuvusIT/xen_vman
After                   = xen.service
After                   = xenstored.service
Requires                = xen.service
{% if xen_vman_iscsi_base_wwn is defined and xen_vman_iscsi_server is defined %}
Requires                = vm_iscsi@%i.service
After                   = vm_iscsi@%i.service
{% endif %}
Conflicts               = vm_mount@%i.service
ConditionPathExists     = {{ xen_vman_vm_config_path }}/%i.cfg

[Service]
Type                    = forking
ExecStartPre            = /bin/sh -c "ln -sf /etc/xen/initrd.img-$(uname -r) /etc/xen/initrd.img"
ExecStart               = {{ xen_vman_xl_path }} -v create {{ xen_vman_vm_config_path }}/%i.cfg
ExecStop                = {{ xen_vman_xl_path }} -v shutdown -F -w %i
TimeoutStartSec         = {{ xen_vman_start_timeout }}
TimeoutStopSec          = {{ xen_vman_stop_timeout }}

[Install]
WantedBy                = multi-user.target
