# {{ ansible_managed }}
[Unit]
Description     = Xen VM for %i
Documentation   = https://github.com/stuvusIT/xen_vman
After           = xend.service
After           = xenstored.service
Requires        = xend.service
Requires        = xenstored.service
Wants           = %i.mount

[Service]
Type            = idle
ExecStart       = {{ xen_vman_xl_path }} create {{ xen_vman_vm_config_path }}/{{ vm.org }}/%i -F
ExecStop        = {{ xen_vman_xl_path }} shutdown -F %i
TimeoutStartSec = 10
TimeoutStopSec  = 300
